.listNoneStyle
{
	list-style-type: none;
	margin-left: 10px;
	margin-right: 10px;
}

.listNoneStyle a:hover
{
	text-decoration: none;
}

.radius_border
{
	margin: 10px;
	padding: 20px;
	border: 1px solid skyblue;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}
